<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/icon/Logo_DSSI_branco-768x178.png" width="100">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Create account
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Name" labelPlacement="floating" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Company name" labelPlacement="floating" [(ngModel)]="company_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Company VAT" labelPlacement="floating" [(ngModel)]="vat"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Address" labelPlacement="floating" [(ngModel)]="address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Zip" labelPlacement="floating" [(ngModel)]="zip"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Location" labelPlacement="floating" [(ngModel)]="location"></ion-input>
        </ion-item>
        <ion-item *ngIf="countries">
          <ion-select label="Country" [(ngModel)]="country_id">
            <ion-select-option *ngFor="let country of countries" value="{{ country.id }}">{{ country.name }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Password" labelPlacement="floating" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input type="password" label="Password confirmation" labelPlacement="floating" [(ngModel)]="password_confirmation"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button size="large" fill="clear" expand="full" (click)="createAccount()">Create account</ion-button>
  </ion-toolbar>
</ion-footer>