<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="../../assets/icon/Logo_DSSI_branco-768x178.png" width="100">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../../assets/icon/Logo_DSSI_branco-768x178.png" class="ion-padding"></ion-img>
    <ion-card-header>
      Login
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input type="email" [(ngModel)]="email" label="Email" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input type="password" [(ngModel)]="password" label="Password" labelPlacement="floating"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button size="large" fill="clear" expand="full" (click)="login()">Login</ion-button>
  </ion-toolbar>
</ion-footer>