<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/icon/Logo_DSSI_branco-768x178.png" width="100">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let manufacturer of manufacturers">
        <ion-col size="6" *ngIf="!(user.company.country_id == 1 && manufacturer.id == 9)">
          <ion-img [src]="manufacturer.logo.original_url" style="background-color: #ffffff;"
            (click)="goManufacturer(manufacturer.id)"></ion-img>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>