<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/icon/Logo_DSSI_branco-768x178.png" width="100">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let solution of solutions">
    <ion-card button="true" (click)="goService(solution.id)" *ngIf="!(user && user.company.country_id == 1 && solution.id == 3)">
      <img alt="Silhouette of mountains" src="{{ solution.image.original_url }}" />
      <ion-card-header>
        <ion-card-subtitle>{{ solution.name }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ng-container>

</ion-content>